<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrado!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="dados">
        <p>Nome: </p>
        <p class="cad" th:text="${nome}">nome</p><br>
        <p>Email: </p>
        <p class="cad" th:text="${email}">email</p><br>
        <p>Usuário:</p>
        <p class="cad" th:text="${tipoUsuario}">tipoUsuario</p><br>
        <p>Opinião:</p>
        <p class="cad" th:text="${opiniao}">opiniao</p>
    </div>
</body>
</html>